* {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(210, 239, 214);
    font-size: 16px;
}

h1 {
    font-size: 1.7em;
    text-align: center;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    margin: 10px 0;
}

h3 {
    font-size: 1.0em;
    text-align: center;
}

p {
    font-size: 1.0em;
    text-align: center;
    margin: 0 0 5px 0;
}

a {
    font-size: 1.0em;
}

header {
    margin: 10px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin: 10px 0;
}

.intro {
    margin: 0 0 10px 0;
    width: 80%;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: rgb(79, 192, 45);
    color: rgb(210, 239, 214);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 0 10px 0;
    cursor: pointer;
    border: 0;
    font-size: 1em;
}



@media(min-width:576px) {
    header {
        margin: 15px 0;
    }
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.6em;
        margin: 10px 0;
    }
    
    h3 {
        font-size: 1.2em;
    }
    
    p {
        font-size: 1.2em;
        margin: 0 0 8px 0;
    }

    a {
        font-size: 1.0em;
    }

    footer {
        margin: 20px 0;
    }

    .intro {
        margin: 0 0 15px 0;
    }

    .button {
        font-size: 1.2em;
        margin: 15px 0 5px 0;
    }
}

@media(min-width:768px) {
    header {
        margin: 20px 0;
    }
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 2em;
        margin: 10px 0;
    }
    
    h3 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1.4em;
        margin: 0 0 13px 0;
    }

    a {
        font-size: 1.0em;
    }

    footer {
        margin: 20px 0;
    }

    .intro {
        margin: 0 0 15px 0;
    }

    .button {
        font-size: 1.4em;
        margin: 15px 0 5px 0;
    }
}

@media(min-width:992px) {
    header {
        margin: 20px 0;
    }
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2.4em;
        margin: 10px 0;
    }
    
    h3 {
        font-size: 1.8em;
    }
    
    p {
        font-size: 1.4em;
        margin: 0 0 16px 0;
    }

    a {
        font-size: 1.0em;
    }

    footer {
        margin: 20px 0;
    }

    .intro {
        margin: 0 0 15px 0;
    }

    .button {
        font-size: 1.4em;
        margin: 15px 0 5px 0;
    }
}



